extends layout

block content
    div.login
        div.formholder
            div.randompad
                fieldset
                    label(name="email") Login
                    input(type="email", placeholder="Enter your login")
                    label(name="password") Password
                    input(type="password")
                    input(type="submit", value="Log in")